
/out/
/customer-templates-master/
/version-test-1.docx
/version-test-sub-2.docx
/version-test-2.docx
/version-test-sub-1.docx
/test-data/customer-test-master/
/test-data/markdown-templates/
/test-data/customer-test/
/lib/
/target/
/.idea/workspace.xml
